name: Continous Integration

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scope: ["@2015", "@2019", "@2020"]

    steps:
      - uses: actions/checkout@v2
      - name: Yarn cache
        uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: yarn install
      - run: yarn prettier --check .
      - run: yarn start --scope ${{ matrix.scope }}
      - uses: actions/upload-artifact@v2
        with:
          name: perf-profiler-${{ matrix.scope }}
          path: profile/*.json
